<article>
	<% 	var i; for (i = 0; i<appdata; i++){ %>
			<li><a href="/answer" name="qid" value="<%=appdata[i][0]%>" method="get"> <%= appdata[i][2] %> </a> 
			
			</li>
				
		<% } %>	
</article>



