<article>



	<% 	var i; var j; for (i = 0; i<appdata.length; i++){ %>
			<li><a> <%= appdata[i][2] %> </a> 
			<% for (j=0; j<appdata[i][3].length;j++) { %>
			<h4> <%= appdata[i][3][j] %> </h4>
			<% } %>
			</li>
				
		<% } %>
			




	
</article>