<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %> </head>
  <body>
    <p>Welcome to <%= title %></p>
		<form id="submitQ" action="/addQ" method="post">
		<h4>Enter a question:</h4>
		<input type="text" name="newQ" class="form-control" placeholder="Text input">
		<h4>Enter time:</h4>
		<select name="Stime">
			<option value="5">5 minutes</option>
			<option value="10">10 minutes</option>
			<option value="15">15 minutes</option>
			<option value="20">20 minutes</option>
			<option value="25">25 minutes</option>
			<option value="30">30 minutes</option>
		</select>
		<input type="submit" class="btn btn-primary">
	</form>
	<% include partials/content/printQ.ejs %>
	<% include partials/template/footer.ejs %>
    <% include partials/template/default.ejs %>
  </body>
</html>
