extends layout

block content
	h3 Enter a url:
	form(action="/", method="post")
		input#inputUrl(type="text", name="url")
		input(type="submit", value="submit")

	div 
		h5 Shortener Url: 
			a(href="http://"+shortUrl )= shortUrl 
			//a=shortUrl
		h5 Original Url: 
			a(href="http://"+ longUrl)= longUrl

	div
		h3 Top ten 
		for elt in list
			p 
				a(href="http://"+ elt)= elt
			
		
				